# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/celcToDeg/celsToDeg/nbproject/private/
/celcToDeg/celsToDeg/build/
/celcToDeg/celsToDeg/dist/
/Mon/debugHW/debugHelloWorld/nbproject/private/
/Mon/celcToDeg/celsToDeg/build/
/Mon/celcToDeg/celsToDeg/dist/
/Mon/celcToDeg/celsToDeg/nbproject/private/
/Mon/debugHW/debugHelloWorld/build/
/Mon/debugHW/debugHelloWorld/dist/
/Mon/debugHW/convertTime/nbproject/private/
/Mon/debugHW/convertTime/build/
/Mon/debugHW/convertTime/dist/
/Mon/vendingMachine/vendingMachine/nbproject/private/
/Mon/convertTime/build/
/Mon/convertTime/dist/
/Mon/convertTime/nbproject/private/
/Mon/vendingMachine/vendingMachine/dist/
/Mon/vendingMachine/vendingMachine/build/
/tue/tirePressure/JavaApplication6/nbproject/private/
/tue/tirePressure/JavaApplication6/build/
/tue/tirePressure/JavaApplication6/dist/
/tue/welcomeToJava/welcomeToJava/nbproject/private/
/tue/welcomeToJava/welcomeToJava/dist/
/tue/welcomeToJava/welcomeToJava/build/
/tue/lengthWord/lengthWord/nbproject/private/
/tue/lengthWord/lengthWord/build/
/tue/lengthWord/lengthWord/dist/
